/* #Colorear #textos #y #fondo */

/*colorear texto con id*/
#text-red {
    color: red
}
/*colorear elementos del tipo h1*/
h1 {
    color: blue;
}
/*colorear fondo de la página*/

/* Anterior Fondo del MAIN(pagina principal)
body {
    background-color: rgb(220, 255, 247);
}*/

/*Colorear otros tipo de elementos*/
#mi-div {
    background-color: rgba(255, 255, 255, 0.103);
}

button {
    background-color: green;
    color:white;
}

/* Cargar imagen de fondo*/
body {
    background-image: url("../img/imgFond.png");
    background-size: contain;
    height: 1414px;
    width: 2000px;
}

/*